body {
    background-color:white;
    background-size: cover;
}

.box {
    height: 400px;
    width: 200px;
    background-color: Black;
    box-shadow: 0px 0px 5px black, inset 0px 0px 10px black;
    opacity: 92%;
    border-radius:10px;

}

.top {
    height: 90px;
    width: 25px;
    background-color: black;
    box-shadow: 0px 0px 5px black, inset 0px 0px 10px black;
}

button {
    height: 100px;
    width: 100px;
    margin-top: 25px;
    box-shadow: inset 0px 0px 10px, 5px 5px;
}

button.red {
    box-shadow: 0px 0px 15px 20px red, inset 3px 3px 20px black;
    background-color: red;
    border-color: rgb(255, 0, 0);
}

button.yellow {
    box-shadow: 0px 0px 15px 20px rgb(247, 202, 2), inset 3px 3px 20px black;
    background-color: rgb(243, 206, 42);
    border-color: rgb(230, 255, 2);
}

button.green {
    box-shadow: 0px 0px 15px 20px rgb(4, 185, 4), inset 3px 3px 20px black;
    background-color: rgb(13, 179, 13);
    border-color: rgb(0, 255, 0);
}
p{
text-align: center;
margin-top: 50px;
}